version: "3"
services:
  llama-cpp:
    image: logdetective/runtime:latest-cuda
    build:
      context: .
      dockerfile: ./Containerfile.cuda
    hostname: "${LLAMA_CPP_HOST}"
    command: "python3 -m llama_cpp.server --model ${MODEL_FILEPATH} --host 0.0.0.0 --port ${LLAMA_CPP_SERVER_PORT} --n_gpu_layers ${LLM_NGPUS:-0} --n_ctx ${N_CTX:-32768}"
    stdin_open: true
    tty: true
    env_file: .env
    ports:
      - "${LLAMA_CPP_SERVER_PORT:-8000}:${LLAMA_CPP_SERVER_PORT:-8000}"
    volumes:
      - ${MODELS_PATH-./models}:/models:Z
    # these lines are needed for CUDA acceleration
    devices:
      - nvidia.com/gpu=all
  server:
    image: logdetective/runtime:latest
    build:
      context: .
      dockerfile: ./Containerfile
    hostname: logdetective-server
    stdin_open: true
    tty: true
    volumes:
      - .:/src/:Z
    ports:
      - "${LOGDETECTIVE_SERVER_PORT:-8080}:${LOGDETECTIVE_SERVER_PORT:-8080}"
    env_file: .env
    # --no-reload: doesn't work in a container - `PermissionError: Permission denied (os error 13) about ["/proc"]`
    command: fastapi run /src/logdetective/server.py --host 0.0.0.0 --port $LOGDETECTIVE_SERVER_PORT --no-reload
