Determine cause of build failure and recommend a solution.
Use provided tools to analyze following build artifacts:
{% for artifact in artifacts %}
* {{ artifact }}
{% endfor %}
You MUST extract snippets from ALL artifacts.
Focus on issues that are likely to cause a build failure.

{% if commentary %}
Comments:

Following provides additional insight into circumstances of the build failure,
such as environment.

{{ commentary }}
{% endif %}
