server_tokens off;
upstream inference_backend {
    least_conn;
    server inference-0:${INFERENCE_SERVER_PORT};
}
server {
    listen ${INFERENCE_PROXY_PORT};
    location / {
        proxy_pass http://inference_backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
