name: Run Linters
on:
  push:
  pull_request:
    branches: [main]
permissions: {}
jobs:
  run_linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      - name: Install krb5-dev
        run: sudo apt-get install -y libkrb5-dev
      - name: Install tox
        run: pip install tox
      - name: Run linters
        run: |
          tox -e lint
          tox -e ruff
          tox -e style
          tox -e djlint
